/* &display=swap */

@import url(nullstyle.css);
@import url(style2.css);
body {
	background: #ebebeb;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 1.3;
}
h3 {
	font-size: 32px;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.container {
	max-width: 1180px;
	margin: 0 auto;
}

header {
	background: #fff;
}
nav {
	font-size: 20px;
	/* margin: 0 auto; */
	/* max-width: 1180px; */
	padding: 10px 0;
}

nav li {
	display: inline-block;
	margin-right: 40px;
	font-weight: 700;
}
nav li:nth-child(1) {
	color: rgb(153, 0, 255);
}
nav li:last-child {
	margin: 0;
}
nav li:hover {
	text-shadow: 2px 2px 10px rgb(255, 0, 0);
	color: rgb(255, 0, 0);
	font-weight: 700;
}
nav li:active {
	color: green;
}

nav li::after {
	content: "";
	display: block;
	height: 2px;
	width: 40px;
	background: #000000;
	margin: 5px 0 0 0;
}
nav li:hover::after {
	content: "";
	display: block;
	height: 2px;
	width: 100%;
	background: #ff0000;
	margin: 5px 0 0 0;
}
/* nav li:visited {
	content: "";
	display: block;
	height: 2px;
	width: 100%;
	background: #ff0000;
	margin: 5px 0 0 0;
} */

h2 {
	font-size: 32px;
	margin-bottom: 10px;
}
p:hover {
	background: rgba(170, 170, 170, 0.3);
	text-shadow: 2px 2px 5px #000;
	border-radius: 10px;
}
.header-block {
	padding-top: 250px;
	min-height: 400px;
	background: url(../img/0.webp) center / cover no-repeat;
	box-shadow: inset 0px 5px 5px rgb(139, 139, 139), 0px 5px 5px rgb(139, 139, 139);
	margin-bottom: 50px;
}

.header-title {
	color: #fff;
	text-shadow: 2px 2px 2px #000;
}
.header-title h1 {
	font-size: 62px;
}
.entry-block {
	margin-bottom: 50px;
}
.entry-title {
	font-size: 32px;
	margin-bottom: 30px;
}
.entry-title::first-letter {
	color: rgb(2, 248, 15);
}
.entry-text > *:not(:last-child) {
	margin-bottom: 20px;
}
.entry-text::first-line {
	text-shadow: 1px 1px 2px #000;
}
.content {
	counter-reset: h2 0;
}

.section-1,
.section-2,
.section-3,
.section-4,
.section-5 {
	margin-bottom: 50px;
}
.section-title {
	margin-bottom: 20px;
}
.section-title h4 {
	font-size: 24px;
	/* padding-left: 40px; */
}
.section-title h2::before {
	content: counter(h2) ".";
	counter-increment: h2;
	color: red;
	margin-right: 10px;
}
.section-image img {
	border-radius: 20px;
	max-width: 100%;
	margin-bottom: 20px;
}
.section-text {
	margin-bottom: 30px;
}
.info {
	font-weight: 700;
}
.info p:first-of-type {
	color: red;
}
.info p:last-child {
	color: yellowgreen;
}
.info p:nth-child(even) {
	color: skyblue;
}
.info > *:not(:last-child) {
	margin-bottom: 10px;
}
.layout-container {
	display: none;
}
.layout-container:target {
	display: block;
}
.btn a {
	color: #fff;
	display: block;
	background: linear-gradient(170deg, #ff2c2c 0%, #f70505 100%);
	font-weight: 700;
	text-align: center;
	font-size: 14px;
	line-height: 3.1;
	border-radius: 4px;
	padding: 0 32px;
}
